.faq-row-wrapper {
	background: transparent !important;
	font-family: "Inter" sans-serif;
}

.row-title-text {
	color: #fdfdfd;
	font-weight: 600;
	font-size: 22px;
}

.row-title-text {
	color: #fdfdfd;
	font-weight: 600;
	font-size: 22px;
}

@media (max-width: 768px) {
	.row-title-text {
		font-size: 16px;
	}
}

.row-content-text {
	color: #fdfdfd;
	font-weight: 400;
	font-size: 18px;
}

@media (max-width: 768px) {
	.row-content-text {
		font-size: 14px !important;
	}
}
